@media (min-width: 768px){
  .style-card {
    margin-right: 200px;
    margin-left: 200px;
  }
  .style-card-comment {
    margin-right: 200px;
    margin-left: 240px;
  }
  .img_style_post {
    border-radius: 50%; 
    height: 50px; 
    width: 50px; 
  }
}
@media (max-width: 768px){
  .img_style_post {
    border-radius: 50%; 
    height: 30px; 
    width: 30px; 
  }
}

a {
  color: #000;
  text-decoration: none;
}
a:hover{
  color: #000;
  text-decoration: none;
}

.style-card-body:hover{
  background: #f2f2f2;
  

}
.style-card-body {
  padding-bottom: 0px;
}

.style-heart:hover {
  color: pink;
}
.style-auth {
  color: red;
  font-size: 18px;
}

.style-heart {
  font-size: 18px
}

.style-delete {
  cursor: pointer;
  font-size: 18px
} 

.style-delete:hover {
  color: red;
}
.style-edit {
  cursor: pointer;
  font-size: 18px
} 
.style-edit:hover {
  color: cyan;
}
.style-fav {
  display: flex;
  justify-content: left;
}

@media all and (min-width: 480px) {
  .post-style {
    padding: 60px 0;
  }
  .post-style .card-style {
    margin: 0 auto;
    max-width: 500px;
  }
}

.toggle-style {
  background: #fff;
  padding: 0px 5px 5px 5px;
  border: none;
}
.toggle-style:hover {
  background-color:#d3d3d3;
}
.style-dropdown {
  width: 10px;
}
.dropdown-menu {
  position: absolute;
  left: -8.2rem;
  top: 100%;
}

.dropdown-menu {
  padding: 2px;
}
