@media (min-width: 768px){
  .style-card {
    margin-right: 200px;
    margin-left: 200px;
  }
  .style-card-comment {
    margin-right: 200px;
    margin-left: 240px;
  }
  .img_style {
    border-radius: 50%; 
    height: 50px; 
    width: 50px; 
    /* margin-top: 30px; */
  }
}
@media (max-width: 768px){
  .img_style {
    border-radius: 50%; 
    height: 30px; 
    width: 30px; 
  }
}

a {
  color: #000;
  text-decoration: none;
}
a:hover{
  color: #000;
  text-decoration: none;
}

.style-card-body:hover{
  background: #f2f2f2;
  /* margin-bottom: -30px; */

}

.style-heart:hover {
  color: pink;
}
.style-auth {
  color: red;
  font-size: 20px;
  /* background: red; */
}

.style-heart {
  font-size: 20px
} 
.style-fav {
  display: flex;
  justify-content: left;
  margin-bottom: -30px;
}

@media all and (min-width: 480px) {
  .post-style {
    padding: 60px 0;
  }

  .post-style .card-style {
    margin: 0 auto;
    max-width: 500px;
  }
}

