@media (min-width: 768px){
  .style-card {
    margin-right: 200px;
    margin-left: 200px;
  }
  .style-card-comment {
    margin-right: 200px;
    margin-left: 240px;
  }
}

a {
  color: #000;
  text-decoration: none;
}
a:hover{
  color: #000;
  text-decoration: none;
}

.style-card-body:hover{
  background: #f2f2f2;
}

.style-heart:hover {
  color: pink;
}
.style-auth {
  color: red;
  font-size: 25px;
  /* background: red; */
}

.style-heart {
  /* margin-right: 30px; */
  font-size: 25px
} 
.style-fav {
  display: flex;
  justify-content: left
}

@media all and (min-width: 480px) {
  .post-style {
    padding: 60px 0;
  }

  .post-style .card-style {
    margin: 0 auto;
    max-width: 500px;
  }
}