.color-red {
  color: red;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.5rem;            /* Footer height */
  background-color: #f2f2f2;
  padding: 25px;
}
#page-container {
  position: relative;
  min-height: 100vh;
}